
@import "tailwindcss";

:root {
  --color-primary-dark: #090D16;
  --color-bg-light: #FAFAFA;
  --color-accent-red: #E11D48;
  --color-surface: #FFFFFF;

  --color-text-dark: #0F172A;
  --color-text-light: #FAFAFA;
  --color-text-muted: #64748B;

  --background: var(--color-bg-light);
  --foreground: var(--color-text-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-dark: #090D16;
  --color-bg-light: #FAFAFA;
  --color-accent-red: #E11D48;
  --color-surface: #FFFFFF;

  --color-text-dark: #0F172A;
  --color-text-light: #FAFAFA;
  --color-text-muted: #64748B;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  letter-spacing: -0.02em;
}
